#app {
  // 顶部导航
  .nav-bar {
    height: 61px;
    background-color: #3453a5;
    min-width: 1160px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    > div {
      float: left;
    }
    .logo {
      width: 180px;
      height: 61px;
    }
    .top-nav {
      width: calc(100% - 450px);
      min-width: 800px;
      height: 100%;
      > ul {
        border: none;
      }
      li {
        float: left;
      }
      ul,
      li {
        height: 100%;
      }
    }
    .info {
      button {
        text-align: center;
        padding: 8px;
        float: left;
        height: 57px;
        margin-top: 2px;
        background-color: inherit;
        border: none;
        &:hover {
          background-color: #243e86;
        }
        > i {
          display: block;
          margin-bottom: 1px;
          font-size: 18px;
        }
        > span {
          font-size: 10px;
          margin-left: 0px;
        }
        svg {
          display: block;
          font-size: 20px;
          margin: 0px auto;
        }
      }
      .el-badge__content {
        top: 18px;
        font-size: 10px;
        right: 14px;
        background-color: #ef9410;
      }
      .avatar-container {
        height: 61px;
        line-height: 61px;
        display: inline-block;
        margin-left: 20px;
        float: right;
        // position: absolute;
        // right: 35px;
        .avatar-wrapper {
          cursor: pointer;
          // margin-top: 5px;
          position: relative;
          .user-avatar {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            vertical-align: middle;
          }
          .el-icon-caret-bottom {
            position: absolute;
            right: -20px;
            top: 38px;
            font-size: 12px;
            color: white;
          }
        }
      }
    }
  }
  // 主体区域
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: 180px;
    position: absolute;
    top: 61px;
  }
  .full {
    width: 100%;
    margin-left: 0px;
  }
  .shin {
    width: calc(100% - 180px);
  }
  .wid {
    width: calc(100% - 36px);
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 180px !important;
    height: calc(100% - 50px);
    // position: fixed;
    font-size: 0px;
    // top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    position: fixed;
    top: 61px;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      height: calc(100% + 15px);
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .group-title {
      font-size: 14px;
      padding-left: 12px;
      color: rgb(191, 203, 217);
      margin-top: 10px;
      > span {
        display: inline-block;
        height: 1px;
        width: 102px;
        background-color: #525252;
        margin-bottom: 4px;
      }
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 36px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      & > .el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform 0.28s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
